<div class="notify">
  <% if resource.errors.any? %>
  <div class="alert alert-danger" role="alert"
  id="error_explanation">
  
      <% resource.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
  </div>
<% end %>
</div>