
<section>
<div style="height: 480px;
    width: 350px;">
 <div class="container text-center">

                <div class="mt-5 pt-3 title">
                    Editing Book
                </div>
                <div class="mt-5 container-fluid">
<%= render 'form', book: @book %>
</div>
</div>
</div>
</section> 
